<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title><%= page_title() %></title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!--[if !lte IE 6]><!-->
    <%= stylesheet_link_tag 'screen', 'book' %>

  <!--<![endif]-->

  <!-- HTML5 Shiv + detect touch events -->
    <%= javascript_include_tag 'modernizr-2.0.6.min' %>
</head>
<body>

  <header> 
    <h1><a class="logo" href="/">20 Things I Learned About Browsers and the Web</a></h1>
    <nav>
      <ul>
        <li class="table-of-things"><a href="/table-of-things">TABLE OF THINGS</a></li>
        <li class="divider1"></li>
        <li class="about"><a href="/foreword/1">FOREWORD</a></li>
        <li class="divider2"></li>
        <li class="credits"><a href="/credits">CREDITS</a></li>
        <li class="divider2"></li>
      </ul>
    </nav>
    
    <!-- Input type="search" is currently too inconsistent across browsers and platforms -->
    <input id="search-field" type="text" value="Search Book">
  </header>
  <div id="grey-mask" style=""></div>

  <div id="book">
    <div id="shadow">
      <div class="shadow-left"></div>
      <div class="shadow-right"></div>
    </div>
    <div id="spine">
      <div class="spine-top"></div>
      <div class="spine-bottom"></div>
    </div>
    <div id="front-cover-bookmark">
      <div class="content">
        <p>What’s a cookie? How do I protect myself on the web? And most importantly: What happens if a truck runs over my laptop?</p>
        <p>For things you’ve always wanted to know about the web but were afraid to ask, read on.</p> 
        <a href="/en-US/foreword/2" class="open-book">OPEN BOOK</a>
        <canvas id="flip-intro" width="89" height="69"></canvas>
      </div>
    </div>
    <div id="sharer">
      <div class="background-top"></div>
      <div class="background-bottom"></div>
      <div class="content">
        <ul>
          <li class="facebook"><a href="#" title="Facebook"></a></li>
          <li class="twitter"><a href="#" title="Twitter"></a></li>
          <li class="buzz"><a href="#" title="Buzz"></a></li>
          <li class="print"><a href="/en-US/foreword/print" target="_blank" title=""></a></li>
        </ul>
        <p class="index">THING</p>
        <p class="instruction">SHARE THING</p>
      </div>
    </div>
    <div id="front-cover">
      <img src="images/front-cover.jpg" width="830" height="520">
    </div>
    <div id="back-cover">
      <img src="images/back-cover.jpg" data-src-flipped="images/back-cover-flipped.jpg" width="830" height="520">
    </div>
    <div id="pages">
      <%= yield %>
    </div>
    <div id="left-page" style="width: 830px; ">
      <img src="images/left-page.jpg" data-src-flipped="images/left-page-flipped.jpg" width="830" height="520">
    </div>
    <div id="right-page">
      <div id="paperstack">
        <div class="paper s1"></div>
        <div class="paper s2"></div>
        <div class="paper s3"></div>
        <div class="paper s4"></div>
        <div class="paper s5"></div>
        <div class="paper s6"></div>
        <div class="paper s7"></div>
        <div class="shadow"></div>
      </div>
      <img src="images/right-page.jpg" width="830" height="520">
    </div>
    <canvas id="pageflip" width="1700" height="680"></canvas>
    <div id="page-shadow-overlay"></div> 
  </div>

  <!-- Overlay is used to put layerd content -->
  <div id="overlay">
    <div class="bookmark">
      <div class="content">
        <a class="close" href="#">CLOSE</a>
        <h3>RESUME READING?</h3>
        <p>You can pick up from where you left off the last time, or start at the beginning. Do you want to:</p>
        <a class="action resume" href="#">RESUME<br>READING</a>
        <a class="action restart" href="#">GO TO THE<br>BEGINNING</a>
      </div>
    </div>
  </div>

  <div id="pagination-prev">
    <a href="/en-US/">
      <div class="arrow">LOCALE_PREVIOUS_PAGE</div>
    </a>
    <div class="page-progress">
      <p class="thing"></p>
      <p class="number"> <span></span></p>
    </div>
  </div>

  <div id="pagination-next">
    <a href="/en-US/foreword/2">
      <div class="arrow">LOCALE_NEXT_PAGE</div>
    </a>
    <div class="page-progress">
      <p class="thing">FOREWORD</p>
      <p class="number"> <span>2/3</span></p>
    </div>
  </div>

  <footer>    
  <span class="curator">Published by the <a href="#">China</a> Team. ©,2012 All Rights Reserved.</span>
  <div class="right-side">
    <div class="divider"></div>
    <div class="sharing">
      <p>SHARE BOOK</p>
      <input type="text" class="clipboard-notification" value="http://20thingsilearned.com/" readonly="readonly">
      <ul>
        <li class="facebook"><a href="" title="Facebook"></a></li>
        <li class="twitter"><a href="" title="Twitter"></a></li>
        <li class="url"><a href="#"></a></li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="print">
      <a href="/en-US/all/print" target="_blank"><span class="icon"></span>PRINT BOOK</a>
    </div>
    <div class="divider"></div>
    <div class="lights-wrapper">
      <div class="lights">
        <a href="#"><span class="icon">LIGHTS</span></a>
      </div>
    </div>
  </div>
  </footer>
<!--[if !lte IE 6]><!-->
  <!--[if lt IE 9]> <script src="js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
  <%= javascript_include_tag 'jquery-1.7.1.min', 'plugins', 'script'  %>
<!--<![endif]-->
<script type='text/javascript'>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33070475-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
